<div class="bg-dark p-4 rounded">
  <div class="text-center">
    <%= image_tag "test_model.svg", class: "img-fluid" %>
  </div>
  <div class="d-flex justify-content-evenly py-4">
    <%= link_to "Download", "", data: {"turbo-prefetch": "false"}, class: "bg_gradient px-4 py-2 rounded-pill text-decoration-none text-light" %>
    <%= link_to "NFT Marketplace", "", data: {"turbo-prefetch": "false"}, class: "bg_gradient px-4 py-2 rounded-pill text-decoration-none text-light" %>
    <%= link_to "Prompt", "", data: {"turbo-prefetch": "false"}, class: "bg_gradient px-4 py-2 rounded-pill text-decoration-none text-light" %>
  </div>
</div>