<div class="home">
  <%= render "layouts/header" %>
  <div class="container">
    <div class="row text-light fs0875 text-center">
      <div class="col-sm-6 offset-sm-3 px-2">
        <div class="bg_order_card px-3 h-100 mb-3">
          <div class="fs-4 text-center py-5">Upload 3D Models to Earn</div>
          <%= render "form", draft: @draft %>
        </div>
      </div>
    </div>
  </div>
</div>
