<nav class="navbar navbar-expand-lg bg-body-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><%= image_tag "logo.svg" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Docs</a>
        </li>
      </ul>
      <div>
        <a href="#" class="text-light text-decoration-none">
          <span class="px-3 py-1 rounded-pill bg_gradient p-1 nav">
            Log in
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>