<nav class="navbar navbar-expand-lg bg-body-dark py-4">
  <div class="container">
    <a class="navbar-brand" href="#"><%= image_tag "logo.svg" %></a>
    <!-- <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo02"> -->
      <ul class="navbar-nav ms-2 ms-sm-4 me-auto">
        <li class="nav-item">
          <a class="text-decoration-none fs0875 gradient-text" aria-current="page" href="#">Docs</a>
        </li>
      </ul>
      <div>
        <!-- Button trigger modal -->
        <div class="mouse-cursor-gradient-tracking btn_login fs0875 d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="p-0 m-0">Log in</span>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Title</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Test content
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
      </div>
    <!-- </div> -->
  </div>
</nav>

<style>
.mouse-cursor-gradient-tracking {
  position: relative;
  /* background-image: linear-gradient(90deg, #FA1AFF 0%, #0D50FE 100%); */
  /* padding: 0.5rem 1rem; */
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, pink, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover::before {
  --size: 100px;
}

.gradient-text {
    background: linear-gradient(to right, #ff0000, #00ff00); /* 定义渐变背景，从红色到绿色 */
    -webkit-background-clip: text; /* 使用 WebKit 的 background-clip 属性将背景仅渲染在文本上 */
    background-clip: text; /* background-clip 属性将背景仅渲染在文本上 (标准属性) */
    /* color: transparent; 隐藏实际文本颜色 */
}
</style>

<script>
let btn = document.querySelector('.mouse-cursor-gradient-tracking');
btn.addEventListener('mousemove', e => {
  let rect = e.target.getBoundingClientRect();
  let x = e.clientX - rect.left;
  let y = e.clientY - rect.top;
  btn.style.setProperty('--x', x + 'px');
  btn.style.setProperty('--y', y + 'px');
});
</script>